.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    background: #24292E;
    color: #ECECEC;

    > p{
        position: absolute;
        top: calc(50% - 275px);
        transform: translateY(-50%);
        font-size: 22px;
    }

    .container {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;

        .add-account, .account {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background: #43474C;
            height: 400px;
            border-radius: 5px;
            box-sizing: border-box;
            color: white;
            text-decoration: none;
            font-size: 24px;
        }

        .add-account {
            width: 350px;
            padding: 50px 0 0 0;
        }

        .account {
            width: 300px;
            padding: 20px 0 20px 0;

            img {
                width: 80%;
                border-radius: 5px;
            }
        }
    }
}